	<div class="col-sm-3 col-md-2 sidebar-offcanvas" id="sidebar" role="navigation">
		<ul class="nav nav-sidebar">
			<li ng-repeat="category in categories"><a ui-sref="root.products({catid: category})">{{category}}</a>
			</li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div>