<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>eCommSite</display-name>
  <listener>
  	<listener-class>com.updates.StatusUpdater</listener-class>
  </listener>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UserLogin</display-name>
    <servlet-name>UserLogin</servlet-name>
    <servlet-class>com.servlets.UserLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogin</servlet-name>
    <url-pattern>/UserLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.servlets.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.servlets.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderConfirmation</display-name>
    <servlet-name>OrderConfirmation</servlet-name>
    <servlet-class>com.servlets.OrderConfirmation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderConfirmation</servlet-name>
    <url-pattern>/OrderConfirmation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>receiveData</display-name>
    <servlet-name>receiveData</servlet-name>
    <servlet-class>com.servlets.receiveData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>receiveData</servlet-name>
    <url-pattern>/receiveData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CancelOrder</display-name>
    <servlet-name>CancelOrder</servlet-name>
    <servlet-class>com.servlets.CancelOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancelOrder</servlet-name>
    <url-pattern>/CancelOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderCancel</display-name>
    <servlet-name>OrderCancel</servlet-name>
    <servlet-class>com.servlets.OrderCancel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderCancel</servlet-name>
    <url-pattern>/OrderCancel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CC</display-name>
    <servlet-name>CC</servlet-name>
    <servlet-class>com.servlets.CC</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CC</servlet-name>
    <url-pattern>/CC</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CO</display-name>
    <servlet-name>CO</servlet-name>
    <servlet-class>com.servlets.CO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CO</servlet-name>
    <url-pattern>/CO</url-pattern>
  </servlet-mapping>
</web-app>